<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="mysqlipdo">
            <file>tests/MysqliPDOTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="host" value="127.0.0.1" />
        <env name="port" value="8833" />
        <env name="dbname" value="letscount" />
        <env name="username" value="letscount" />
        <env name="password" value="letscount" />
        <env name="socket" value="" />
    </php>
</phpunit>